* {
    box-sizing: border-box;
}

.bg1 {
    background-image: url(https://images.unsplash.com/photo-1685520917628-d7ac0e7b186c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3132&q=80);
}

.bg2 {
    background-image: url(https://images.unsplash.com/photo-1685520917803-d8b8ea7061d1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3131&q=80);
}

.bg3 {
    background-image: url(https://images.unsplash.com/photo-1685520918014-a1cef4ece6e9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2273&q=80);
}

.bg4 {
    background-image: url(https://images.unsplash.com/photo-1685520917412-7cb05c937b2f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3132&q=80);
}

.bg5 {
    background-image: url(https://images.unsplash.com/photo-1685520917563-d81a6b4e6953?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80);
}

.bg6 {
    background-image: url(https://images.unsplash.com/photo-1685520917538-2e82e0640447?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3132&q=80);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    width: 90vw;
}

.panel {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    border-radius: 25px;
    color: white;
    flex: 0.5;
    cursor: pointer;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 10px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width: 480px) {
    .container {
        width: 100vw;
    }
    .panel:nth-last-of-type(5),
    .panel:nth-last-of-type(4) {
        display: none;
    }
}